<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.stoneagedc">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6308948435596230~8212621303"/>
        <activity
            android:name=".SplashActivity"
            android:label="스톤 백과사전"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".developerInfoActivity"
        />
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="스톤 백과사전"
            />
        <activity android:name=".petActivity"
            />
        <activity android:name=".GrowthActivity"
            />
        <activity android:name=".moneyActivity"
            />
        <activity android:name="recomendDeck.recodeck"
            />
        <activity android:name=".jorunsa.JorunsaActivity"
            />
        <activity android:name=".setPetActivity"
            />
        <activity android:name=".attackPetSet.AttackPet"/>

        <activity android:name="control.agoa"></activity>
        <activity android:name="control.agoaride"></activity>
        <activity android:name="control.bakseulrabbit"></activity>
        <activity android:name="control.baroroks"></activity>
        <activity android:name="control.bongbong"></activity>
        <activity android:name="control.fentas"></activity>
        <activity android:name="control.fingki"></activity>
        <activity android:name="control.fingko"></activity>
        <activity android:name="control.firenosdon"></activity>
        <activity android:name="control.kamare"></activity>
        <activity android:name="control.mui"></activity>
        <activity android:name="control.otutu"></activity>
        <activity android:name="control.ragogo"></activity>

        <activity android:name="cure.dorabis"></activity>
        <activity android:name="cure.kaku"></activity>
        <activity android:name="cure.monasif"></activity>
        <activity android:name="cure.GoldLobi"></activity>

        <activity android:name="defensive.bubi"></activity>
        <activity android:name="defensive.buke"></activity>
        <activity android:name="defensive.attackbuke"></activity>
        <activity android:name="defensive.duri"></activity>
        <activity android:name="defensive.frakitos"></activity>
        <activity android:name="defensive.katarkas"></activity>
        <activity android:name="defensive.manmo"></activity>
        <activity android:name="defensive.sillingka"></activity>
        <activity android:name="defensive.stolarge"></activity>
        <activity android:name="defensive.manmoRide"></activity>
        <activity android:name="defensive.frakitosRide"></activity>

        <activity android:name="wide.gigaros"></activity>
        <activity android:name="wide.hubo"></activity>
        <activity android:name="wide.kaki"></activity>
        <activity android:name="wide.magaros"></activity>
        <activity android:name="wide.sandizard"></activity>
        <activity android:name="wide.mogarosRide"></activity>




    </application>

</manifest>